.paddingLeft40px{
	padding-left: 40px;
}

.paddingbuttom40px{
	padding-bottom: 40px;
}

.h_buttonStyle{
	width: 150px;
}

.margintop100px{
	margin-top: 100px;
}

.margintop10px{
	margin-top: 10px;
}

.margintop20px{
	margin-top: 20px;
}

.fontsize14px{
	font-size: 14px;
}

.width150px{
	width: 150px;
}

.width100px{
	width: 100px;
}

.width200px{
	width: 200px;
}

.width20px{
	width: 20px;
}
