<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>教师系统</title>
    <link rel="stylesheet" href="../../css/my.css" th:href="@{/css/my.css}"/>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
</head>
<!-- Licien 2016-11-4 -->
<body>
<div class="jumbotron pageTop" style="padding-top: 10px; margin-bottom: 0px;"
     th:substituteby="htmlModel :: commonTop"></div>
<!-- 头部文件 -->
<div class="h_pageContent">
    <nav id="navbar-example" class="navbar" role="navigation" style="border-radius: inherit;"
         th:substituteby="htmlModel :: guilderTop">
    </nav>
    <!-- /top Guider -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="wrapper">
                <nav class="h_leftMenu" th:substituteby="htmlModel :: menuLeft"></nav>
                <div class="h_right-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">编辑课程信息</h3>
                        </div>
                        <div class="panel-body paddingbuttom40px">
                            <div class="form-group">
                                <label>课程列表</label>
                                <div class="list-group">
                                    <div th:each="course : ${courses }">
                                        <a th:href="@{/CourseManager/editSelectCourse(courseId=${course.id })}" class="list-group-item courseItem">
                                            <div class="row">
                                                <div class="col-md-3" th:text="${course.id}">
                                                    100010
                                                </div>
                                                <div class="col-md-3 cname" name="cname" th:text="${course.name}">
                                                    J2EE应用程序设计
                                                </div>
                                                <div class="col-md-3 cendweek" name="cendweek" th:text="第 + ${course.end_week} + 结课">
                                                    第1周结课
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="cstartweek" type="text" hidden="hidden" th:value="${course.start_week }"/>
                                                    <input class="csection" type="text" hidden="hidden" th:value="${course.section }"/>
                                                    <input class="cdayweek" type="text" hidden="hidden" th:value="${course.day_for_week }"/>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <hr/>
                            </div>
                            <br/>
                            <div class="form-group">
                                <h4><b>编辑课程信息</b></h4>
                            </div>
                            <form role="form" id="updateCourseForm" th:action="@{/CourseManager/updateCourse}">
                                <div class="form-group">
                                    <label>课程名称</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                           th:name="name" th:value="${editCourse.name }" autofocus="autofocus" placeholder="请输入课程名称(必填)"/>
                                </div>
                                <input type="text" class="form-control" name="id"
                                       th:name="id" th:value="${editCourse.id }" th:hidden="hidden"/>
                                <div class="form-group">
                                    <label>当前学期</label>
                                    <input type="text" class="form-control"
                                           placeholder="2016-2017学年第一学期" disabled="disabled"/>
                                </div>
                                <div class="form-group">
                                    <label>上课周次</label>
                                    <div class="input-group">
                                        <select class="form-control" name="start_week" id="start_week"
                                                th:name="start_week">
                                            <option th:value="${editCourse.start_week}" checked="checked" th:text="第 + ${editCourse.start_week} + 周">请选择开始上课周次</option>
                                            <option value="1">第一周</option>
                                            <option value="2">第二周</option>
                                            <option value="3">第三周</option>
                                            <option value="4">第四周</option>
                                            <option value="5">第五周</option>
                                            <option value="6">第六周</option>
                                            <option value="7">第七周</option>
                                            <option value="8">第八周</option>
                                            <option value="9">第九周</option>
                                            <option value="10">第十周</option>
                                            <option value="11">第十一周</option>
                                            <option value="12">第十二周</option>
                                            <option value="13">第十三周</option>
                                            <option value="14">第十四周</option>
                                            <option value="15">第十五周</option>
                                            <option value="16">第十六周</option>
                                            <option value="17">第十七周</option>
                                            <option value="18">第十八周</option>
                                            <option value="19">第十九周</option>
                                            <option value="20">第二十周</option>
                                            <!-- 通过jquery添加选项 -->
                                        </select>
                                        <span class="input-group-addon fix-border fix-padding"></span>
                                        <select class="form-control" name="end_week" id="end_week" th:name="end_week">
                                            <option th:value="${editCourse.end_week}" checked="checked" th:text="第 + ${editCourse.end_week} + 周">请选择开始上课周次</option>
                                            <option value="1">第一周</option>
                                            <option value="2">第二周</option>
                                            <option value="3">第三周</option>
                                            <option value="4">第四周</option>
                                            <option value="5">第五周</option>
                                            <option value="6">第六周</option>
                                            <option value="7">第七周</option>
                                            <option value="8">第八周</option>
                                            <option value="9">第九周</option>
                                            <option value="10">第十周</option>
                                            <option value="11">第十一周</option>
                                            <option value="12">第十二周</option>
                                            <option value="13">第十三周</option>
                                            <option value="14">第十四周</option>
                                            <option value="15">第十五周</option>
                                            <option value="16">第十六周</option>
                                            <option value="17">第十七周</option>
                                            <option value="18">第十八周</option>
                                            <option value="19">第十九周</option>
                                            <option value="20">第二十周</option>
                                            <!-- 通过jquery添加选项 -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>上课日期</label>
                                    <div class="input-group" id="weekGroup">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" th:name="day_for_week" name="day_for_week" th:checked="${editCourse.hasWeek(2)}?'checked'" value="2"/>星期一
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" th:name="day_for_week" name="day_for_week" th:checked="${editCourse.hasWeek(3)}?'checked'" value="3"/>星期二
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" th:name="day_for_week" name="day_for_week" th:checked="${editCourse.hasWeek(4)}?'checked'" value="4"/>星期三
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" th:name="day_for_week" name="day_for_week" th:checked="${editCourse.hasWeek(5)}?'checked'" value="5"/>星期四
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" th:name="day_for_week" name="day_for_week" th:checked="${editCourse.hasWeek(6)}?'checked'" value="6"/>星期五
                                        </label>
                                    </div>
                                </div>
                                <!-- /每周上课的日期 -->
                                <div class="form-group">
                                    <label>上课节次</label>
                                    <!-- 不考虑每周上课时间不一样 -->
                                    <div class="input-group" id="sectionGroup">
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(0)}?'checked'" value="0"/>第一大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(1)}?'checked'" value="1"/>第二大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(2)}?'checked'" value="2"/>第三大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(3)}?'checked'" value="3"/>第四大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(4)}?'checked'" value="4"/>第五大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(5)}?'checked'" value="5"/>第六大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(6)}?'checked'" value="6"/>第七大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" th:name="section" name="section" th:checked="${editCourse.hasSection(7)}?'checked'" value="7"/>第八大节
                                        </label>
                                    </div>
                                </div>
                                <!-- 上课当天的节次 -->
                                <div class="orm-group margintop100px" align="center">
                                    <button type="submit" class="h_buttonStyle btn btn-primary" id="btnsubmit">保存课程</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /this is panel -->
                </div>
                <!-- /this is right-content -->
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- this is content -->
<div class="h_pageBottom" th:substituteby="htmlModel :: commonBottom"></div>
<!-- this is buttom -->
<script type="text/javascript" src="../../js/jquery-3.1.1.min.js"
        th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../js/my.js"
        th:src="@{/js/my.js}"></script>
<script>
    $('.dropdown-toggle').dropdown()
</script>
</body>

</html>