<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加学生</title>
    <link rel="stylesheet" href="../css/my.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../dist/css/bootstrap-theme.css"/>
</head>

<body>
<div class="jumbotron pageTop" style="padding-top: 10px; margin-bottom: 0px;">
    <div class="row" th:fragment="commonTop">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h2>考勤及平时成绩管理系统</h2>
            <label>&nbsp;&nbsp;This is Hathaway´s back-stage management system.</label><br/>
            <label>&nbsp;&nbsp;Welcome ${param.tag} !</label>
        </div>
    </div>
</div>
<!-- 头部文件 -->
<div class="h_pageContent">
    <nav id="navbar-example" class="navbar" role="navigation" style="border-radius: inherit;">
        <div class="container-fluid" th:fragment="guilderTop">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:;"><label>&nbsp;考勤管理系统</label></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
                <div class="col-md-2">
							<span>
								<a class="navbar-brand" href="javascript:;" style="font-size: 14px;">[修改密码]</a>
							</span>
                    <span>
								<a class="navbar-brand" href="javascript:;" style="font-size: 14px;">[注销]</a>
							</span>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- /top Guider -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="wrapper">
                <nav class="h_leftMenu">
                    <ul class="list-group" style="list-style: none;" th:fragment="menuLeft">
                        <li class="nav-parent">
                            <a href="javascript:;" class="list-group-item">
                                <span class="badge">4</span>
                                <font class="fontsize">课程管理</font>
                            </a>
                            <ul class="list-group" style="list-style: none; margin-bottom: 0px;">
                                <li>
                                    <a href="javascript:;" class="list-group-item">添加课程信息</a>
                                </li>
                                <!-- /在添加学生的过程中选择上课时间，选项通过课程时间配置中设定 -->
                                <li>
                                    <a href="jav ascript:;" class="list-group-item">删除课程信息</a>
                                </li>
                                <li>
                                    <a href="jav ascript:;" class="list-group-item">编辑课程信息</a>
                                </li>
                                <li>
                                    <a href="jav ascript:;" class="list-group-item">查看学生信息</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-parent">
                            <a href="javascript:;" class="list-group-item">
                                <span class="badge">2</span>
                                <font class="fontsize">学生管理</font>
                            </a>
                            <ul class="list-group" style="list-style: none; margin-bottom: 0px;">
                                <li>
                                    <a href="javascript:;" class="list-group-item">添加学生</a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="list-group-item">批量添加学生</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" class="list-group-item">
                                <font class="fontsize">规则配置</font>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="list-group-item" style="border-bottom: 1px solid #DDDDDD;">
                                <font class="fontsize">签到学生列表</font>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="h_right-content"></div>
                <!-- /this is right-content -->
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- this is content -->
<div class="h_pageButtom">
    <label th:fragment="commonBottom">Copyright © 2016 Hathaway. All Rights Reserved.</label>
</div>
<!-- this is buttom -->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../dist/js/bootstrap.js"></script>
<script>
    $('.dropdown-toggle').dropdown();
</script>
</body>

</html>