<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>添加课程</title>
    <link rel="stylesheet" href="../../css/my.css" th:href="@{/css/my.css}"/>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
</head>
<!-- Licien 2016-11-4 -->
<body>
<div class="jumbotron pageTop" style="padding-top: 10px; margin-bottom: 0px;" th:substituteby="htmlModel :: commonTop"></div>
<!-- 头部文件 -->
<div class="h_pageContent">
    <nav id="navbar-example" class="navbar" role="navigation" style="border-radius: inherit;"
         th:substituteby="htmlModel :: guilderTop">
    </nav>
    <!-- /top Guider -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="wrapper">
                <nav class="h_leftMenu" th:substituteby="htmlModel :: menuLeft"></nav>
                <div class="h_right-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">添加课程信息</h3>
                        </div>
                        <div class="panel-body paddingbuttom40px">
                            <form role="form" id="addClassForm">
                                <div class="form-group">
                                    <label>课程名称</label>
                                    <input type="text" class="form-control" name="name" th:name="name" id="name"
                                           autofocus="autofocus" placeholder="请输入课程名称(必填)"/>
                                </div>
                                <div class="form-group">
                                    <label>上课学期</label>
                                    <input type="text" class="form-control"
                                           placeholder="请输入任课教师(必填)"/>
                                </div>
                                <div class="form-group">
                                    <label>上课周次</label>
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option>请选择开始上课周次</option>
                                            <option value="firstWeek">第一周</option>
                                            <option value="secondWeek">第二周</option>
                                            <option value="thirdWeek">第三周</option>
                                        </select>
                                        <span class="input-group-addon fix-border fix-padding"></span>
                                        <select class="form-control">
                                            <option>请选择结束上课周次</option>
                                            <option value="firstWeek">第一周</option>
                                            <option value="secondWeek">第二周</option>
                                            <option value="thirdWeek">第三周</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>上课日期</label>
                                    <div class="input-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Monday"/> 周一
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Tuesday"/> 周二
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Wednesday"/> 周三
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Tursday"/> 周四
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Friday"/> 周五
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Saturday"/> 周六
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Sunday"/> 周日
                                        </label>
                                    </div>
                                </div>
                                <!-- /每周上课的日期 -->
                                <div class="form-group">
                                    <label>上课节次</label>
                                    <!-- 不考虑每周上课时间不一样 -->
                                    <div class="input-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="firstClass"/> 第一大节
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="secondClass"/> 第二大节
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="thirdClass"/> 第三大节
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="fourthClass"/> 第四大节
                                        </label>
                                    </div>
                                </div>
                                <!-- 上课当天的节次 -->
                                <div class="orm-group margintop100px" align="center">
                                    <button type="submit" class="h_buttonStyle btn btn-primary">添加课程</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /this is panel -->
                </div>
                <!-- /this is right-content -->
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- this is content -->
<div class="h_pageBottom" th:substituteby="htmlModel :: commonBottom"></div>
<!-- this is buttom -->
<script type="text/javascript" src="../../js/jquery-3.1.1.min.js"
        th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../js/my.js"
        th:src="@{/js/my.js}"></script>
<script>
    $('.dropdown-toggle').dropdown();
</script>
</body>

</html>