<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>添加课程</title>
    <link rel="stylesheet" href="../../css/my.css" th:href="@{/css/my.css}"/>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
</head>
<!-- Licien 2016-11-4 -->
<body>
<div class="jumbotron pageTop" style="padding-top: 10px; margin-bottom: 0px;" th:substituteby="htmlModel :: commonTop"></div>
<!-- 头部文件 -->
<div class="h_pageContent">
    <nav id="navbar-example" class="navbar" role="navigation" style="border-radius: inherit;"
         th:substituteby="htmlModel :: guilderTop">
    </nav>
    <!-- /top Guider -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="wrapper">
                <nav class="h_leftMenu" th:substituteby="htmlModel :: menuLeft"></nav>
                <div class="h_right-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">添加课程信息</h3>
                        </div>
                        <div class="panel-body paddingbuttom40px">
                            <form role="form" id="addClassForm" th:action="@{/CourseManager/addCourse}">
                                <div class="form-group">
                                    <label>课程名称</label>
                                    <input type="text" class="form-control" name="name" th:name="name" id="name"
                                           autofocus="autofocus" placeholder="请输入课程名称(必填)"/>
                                </div>
                                <div class="form-group">
                                    <label>当前学期</label>
                                    <input type="text" class="form-control"
                                           placeholder="2016-2017学年第一学期" disabled="disabled"/>
                                </div>
                                <div class="form-group">
                                    <label>上课周次</label>
                                    <div class="input-group">
                                        <select class="form-control" name="start_week" id="start_week" th:name="start_week">
                                            <option value="0">请选择开始上课周次</option>
                                            <option value="1">第一周</option>
                                            <option value="2">第二周</option>
                                            <option value="3">第三周</option>
                                            <option value="4">第四周</option>
                                            <option value="5">第五周</option>
                                            <option value="6">第六周</option>
                                            <option value="7">第七周</option>
                                            <option value="8">第八周</option>
                                            <option value="9">第九周</option>
                                            <option value="10">第十周</option>
                                            <option value="11">第十一周</option>
                                            <option value="12">第十二周</option>
                                            <option value="13">第十三周</option>
                                            <option value="14">第十四周</option>
                                            <option value="15">第十五周</option>
                                            <option value="16">第十六周</option>
                                            <option value="17">第十七周</option>
                                            <option value="18">第十八周</option>
                                            <option value="19">第十九周</option>
                                            <option value="20">第二十周</option>
                                            <!-- 通过jquery添加选项 -->
                                        </select>
                                        <span class="input-group-addon fix-border fix-padding"></span>
                                        <select class="form-control" name="end_week" id="end_week" th:name="end_week">
                                            <option value="0">请选择开始上课周次</option>
                                            <option value="1">第一周</option>
                                            <option value="2">第二周</option>
                                            <option value="3">第三周</option>
                                            <option value="4">第四周</option>
                                            <option value="5">第五周</option>
                                            <option value="6">第六周</option>
                                            <option value="7">第七周</option>
                                            <option value="8">第八周</option>
                                            <option value="9">第九周</option>
                                            <option value="10">第十周</option>
                                            <option value="11">第十一周</option>
                                            <option value="12">第十二周</option>
                                            <option value="13">第十三周</option>
                                            <option value="14">第十四周</option>
                                            <option value="15">第十五周</option>
                                            <option value="16">第十六周</option>
                                            <option value="17">第十七周</option>
                                            <option value="18">第十八周</option>
                                            <option value="19">第十九周</option>
                                            <option value="20">第二十周</option>
                                            <!-- 通过jquery添加选项 -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>上课日期</label>
                                    <div class="input-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="weekDate" value="2"/>星期一
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="weekDate" value="3"/>星期二
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="weekDate" value="4"/>星期三
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="weekDate" value="5"/>星期四
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="weekDate" value="6"/>星期五
                                        </label>
                                    </div>
                                </div>
                                <!-- /每周上课的日期 -->
                                <div class="form-group">
                                    <label>上课节次</label>
                                    <!-- 不考虑每周上课时间不一样 -->
                                    <div class="input-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="0"/>第一大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="1"/>第二大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="2"/>第三大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="3"/>第四大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="4"/>第五大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="5"/>第六大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="6"/>第七大节
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="section" value="7"/>第八大节
                                        </label>
                                    </div>
                                </div>
                                <!-- 上课当天的节次 -->
                                <div class="orm-group margintop100px" align="center">
                                    <button type="submit" class="h_buttonStyle btn btn-primary">添加课程</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /this is panel -->
                </div>
                <!-- /this is right-content -->
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- this is content -->
<div class="h_pageBottom" th:substituteby="htmlModel :: commonBottom"></div>
<!-- this is buttom -->
<script type="text/javascript" src="../../js/jquery-3.1.1.min.js"
        th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../js/my.js"
        th:src="@{/js/my.js}"></script>
<script>
    $('.dropdown-toggle').dropdown();
    var str = "";
    str += "1255";
    /*$(document).ready(function () {
        var flag = 1;
        var endFlag = 21;
        var htmlContent = "";
        while (flag.gt(endFlag)) {
            htmlContent += "<option value='" + flag + "'>第" + flag + "周</option>";
            flag++;
        };
        $("#start_week").append(htmlContent);
    });
    $("#start_week").click(function () {
        $("#end_week").empty();
        $("#end_week").append("<option>请选择结束上课周次</option>");
        var flag = $("#start_week").val();
        var endFlag = 21;
        var htmlContent = "";
        while (flag.gt(endFlag)) {
            htmlContent += "<option value='" + flag + "'>第" + flag + "周</option>";
            flag++;
        };
        $("#end_week").append(htmlContent);
    });*/
</script>
</body>

</html>